.episodios {
  position: relative;
  margin-top: 1.875rem;
  display: flex;
  flex-flow: column wrap;
  h2 {
    color: white;
    padding-left: $padding;
    padding-top: 0px;
  }
  div {
    display: flex;
    flex-flow: column wrap;
    iframe {
      padding: $padding;
    }
  }

  .fondo{
    padding: 0px;
    height: 120%;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
}



@media screen and (min-width: $breakpoint1) {
  .episodios {
      margin-top: 6.25rem;
    h2 {
      padding-left: $padding-desktop;
    }
    div {
      flex-flow: row wrap;
      padding-left: 6.25rem * 1.5;
      iframe {
        width: 40vw;
        
      }
    }
    
    .fondo{
      height: 145%;
    }
 
  }
}
