$color1: #0000EC;
$color1hover: #0d0d9c;
$color2: #060A24;
$color3: #00F3BB;

$padding: 1rem;
$padding-desktop: 12.5rem;

$fuente-mono: 'IBM Plex Mono', monospace;
$fuente-sans: 'IBM Plex Sans', sans-serif;

$breakpoint1: 800px;